{% extends 'base.html' %}

{% block content %}
  <h1>Order Summary</h1>
  <a href="{% url 'order:home' %}">Back to Home</a>

  <form action="{% url 'order:summary' %}" method="get" class="filter-form">
    <input type="date" name="date" value="{{ request.GET.date }}" >
    <label for="remove_delivered">Remove Delivered:</label>
    <input id="remove_delivered" type="checkbox" name="remove_delivered" {% if request.GET.remove_delivered %}checked{% endif %}>
    <button type="submit">Filter</button>
    <button type="button" onclick="window.location.href='{% url 'order:summary' %}'">Reset</button>
  </form>

  <section>
  <h2>Orders</h2> 
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Comments</th>
        <th>Deposit Amount</th>        
        <th>Delivery Date</th>
        <th>Rest to Pay</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr class="{% if order.completed %}completed-order{% endif %}">
          <td>
            <a href="{% url 'order:detail' order.id %}" class="link">
              {{ order.id }}
            </a>
          </td>
          <td>{{ order.name }}</td>
          <td>{{ order.phone }}</td>
          <td>{{ order.comments }}</td>
          <td>{{ order.deposit_amount }}€</td>          
          <td>{{ order.delivery_date|date:"d M Y" }}</td>
          <td>{{ order.get_rest_to_pay | floatformat:2 }}€</td>
          <td>{{ order.total_amount | floatformat:2 }}€</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6"><strong>Total:</strong></td>
        <td><strong>{{ total_rest_to_pay | floatformat:2 }}€</strong></td>
        <td><strong>{{ total_amount_orders | floatformat:2 }}€</strong></td>
      </tr>
    </tfoot>
  </table>
  </section>

  {% for category, products in ordered_products.items %}
  {% if products %} 
    <section>
      <h2>{{ category|title }}</h2>
      <table>
        <thead>
          <tr>      
            <th>Product Name</th>
            <th>Total Quantity</th>
            <th>Total Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{ product.product__name }}</td>
              <td>{{ product.product_total_quantity }}</td>
              <td>{{ product.product_total_amount | floatformat:2 }}€</td>
            </tr>
          {% endfor %}
    </tbody>
    <tfoot>
      {% for cat, totals in totals.items %}  
      {% if cat == category %}
        <tr>
          <td><strong>Total: </strong></td>
          <td><strong>{{ totals.total_quantity }}</strong></td>
          <td><strong>{{ totals.total_amount | floatformat:2  }}€</strong></td>
        </tr>
      {% endif %}
      {% endfor %}
      
    </tfoot>
  </table>
  </section>
  {% endif %}
  {% endfor %}


  
{% endblock %}